#gameBoard {
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}

td {
	width: 30px;
	height: 30px;
}

.forrest {
	background-color: #298B30;
}

.tundra {
	background-color: #7E865D;
}

.desert {
	background-color: #F3F7B7;
}

.island {
	background-color: #CDBF8A;
	background-image: url(images/palmtree.ico);
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
}

.water {
	background-color: #22A6D5;
}

.passage {
	background-color: #1D2E97;
}

.harbour {
	background-color: #8EDBF7;
	background-image: url(images/anchor.png);
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
}

.ship {
	width: 24px;
	height: 24px;
	margin-left: 3px;
	border-radius: 12px;
}

